<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Item</title>
</head>
<body>
    <div>
        <h1>Edit {{item.name}}</h1>
        <a href="/items/home">Dashboard</a>
        <a href="/logout">Log Out</a>
    </div>

    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <p>{{message}}</p> 
            {% endfor %}
            {% endif %}
            {% endwith %}
    </div>

    <form action="/item/{{item.id}}" method="post">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" value="{{item.name}}">

        <label for ="location">Location</label>
        <input type="text" name="location" id="location" value="{{item.location}}"

        <label for ="description">Description</label>
        <textarea type="text" name="description" id="description" cols="30" rows="10"> {{item.description}}</textarea>

        <input type="hidden" name="id" value="{{item.id}}">
                <div>
                    <input type="submit" value="Submit">
                </div>
    </form>
</body>
</html>